.animated-title {
  color: white;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
  font-size: 4rem;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
