#root{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;}

.shop-container {
  position: relative;
  overflow: hidden;
}

.shopping-cart {
  position: fixed;
  top: 41px;
  right: -500px;
  transition: right 0.3s ease;
  height: 100vh;
  overflow-y: auto;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.8);
}

.shopping-cart.visible {
  right: 0;
}

.cart-icon-container {
  position: fixed;
  top: 80px;
  left: 95%;
  cursor: pointer;
  z-index: 1002;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

  @media (max-width: 768px) {
    top: 90px;
    left: 87%;
    width: 45px;
    height: 45px;
  }
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .cart-icon-container {
    top: 65px;
    right: 5px;
  }
}

h1 {
  text-align: center;
}