.game-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  background-color: #05050527; /* Fondo negro */
  color: white; /* Texto blanco */
  max-width: 1200px; /* Ancho máximo */
  margin: 0 auto; /* Centrar en la pantalla */
}

.image-container,
.text-container {
  display: flex;
  flex-direction: column; /* Asegurar que el h2 está arriba del p */
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; /* Centrar el texto */
  border-bottom: 2px solid rgb(243, 229, 229); /* Borde negro de 2px en la parte superior */
}

/* .game-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
} */

/* Agrega este estilo a tu archivo CSS global o en un archivo CSS específico del componente */



.text-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.5;
}
.border-bottom{
  border-bottom: 2px solid rgb(243, 229, 229); /* Borde negro de 2px en la parte superior */
}
/* Adaptación para móviles */
@media (max-width: 768px) {
  #border-bottom{
    border-bottom: 2px solid rgb(243, 229, 229); /* Borde negro de 2px en la parte superior */
  }
  
  .image-container,
  .text-container {
    border-bottom: none; /* Borde negro de 2px en la parte superior */
  }

  .game-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .text-container {
    padding: 10px;
  }

  .text-container h2 {
    font-size: 20px;
  }

  .text-container p {
    font-size: 14px;
  }
}
