/* styles.css */


.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Sombra */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
}
