/* styles.css */
body {
  background: linear-gradient(to bottom, #001f3f, #001020); /* Fondo azul oscuro con un gradiente */
  color: rgb(252, 252, 252); /* Color de texto blanco para contraste */
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Sombra */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
}
